body {
    background-color: #18BC9C;
    padding-top: 108px;
}
#start-btn{
    /*margin-top: 200px !important;*/
    height: 100px;
    width: 200px;
}
#main .btn{
    margin: 5px auto;
    display: block;
}
#list-style{
    display: none;
}
#pick-inner p{
    height: 80px;
}
.list{
    list-style-type: none;
}
.circle-list{
    list-style-type: circle;
}
.square-list{
    list-style-type: square;
}
#sheet-effect::before{
    content: "";
    top: 0;
    left: 0;
    border-width: 0 0 80px 80px;
    border-style: solid;
    border-color: #dcd5d5 #18BC9C;
    box-shadow: 4px 4px 7px #888888;
}
#sheet-effect {
    display: none;
    margin-top: -21px;
    margin-left: 270px;
    position: absolute;
}
#content {
    width: 210mm;
    /*padding-left: 0;*/
    /*background: #ffffff;*/
    float: left;
    padding: 30mm 20mm 20mm 30mm;
    white-space: pre-wrap;
}
.clear-both{
    clear: both;
}
#vars-menu select{
    width: 100%;
    float: right;
    margin-bottom: 5px;
}
#vars-menu {
    display: none;
    width: 400px;
    padding: 20px 5px;
    background: #1d4c7b;
    margin-left: 210mm;
    position: absolute;
    right: 0;
    color: #ffffff;
}
#print, #download {
    width: 100%;
    margin-bottom: 10px;
}
#main {
    width: 900px;
    margin: 0 auto;
}
#pick-inner {
    margin: 0 auto;
    width: 80%;
    display: grid;
}
#pick-option {
    background-color: rgba(24, 113, 96, 0.72);
    /* margin: 0 auto; */
    z-index: 999 !important;
    /* display: table-cell; */
    padding: 15px;
    /* margin-top: auto; */
    /* margin-bottom: auto; */
    position: absolute;
    top: 20%;
    left: 50%;
    width: 400px;
    text-align: center;
    border: 2px solid #06776d;
    display: none;
    color: #ffffff;
    box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.47);
    border-radius: 20px;
}
#sheet-input {
    width: 100%;
}
.align-center {
    text-align: center;
}
.vue-var {
    float: right;
    width: 100%;
}
.btn-pick{
    float: left;
    margin: 10px !important;
}
#decisions{
    margin-top: -95px;
}
#main-message{
    text-align: center;
    color: #ffffff;
}
.margin-top, .margin-right, .margin-bottom, .margin-left{
    float: right;
    width: 80px;
}
.vars{
    border-bottom: 1px solid #9e9898;
    height: 70px;
}
.menu-title{
    text-align: center;
    font-size: 17px;
    font-weight: bold;
    text-transform: uppercase;
}
@media print
{
    .no-print, .no-print *
    {
        display: none !important;
    }
}

#main-menu{
    width: 100%;
    position: fixed;
    height: 108px;
    background: #2C3E50;
    margin-top: -108px;
    z-index: 99;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.menu-links a:hover{
    background-color: #25313e;
}

.menu-links a{
    width: 100%;
    height: 100%;
    display: block;
    padding: 38px;
    font-size: 20px;
    text-decoration: none;
    color: #FFFFFF;
    text-transform: uppercase;
    text-align: center;
    background: #2c3e50;
}

.menu-links ul{
    height: 100%;
}

.menu-links li{
    display: inline-block;
    height: 100%;
    width: 240px;
}

.menu-links{
    height: 100%;
}

#menu-right{
    float: right;
}

#menu-left{
    float: left;
}

#parse-sheet{
    display: none;
    line-height: 0.2em;
}

#spread-type input:hover{
    background-color: #25313e;
}
#spread-type input{
    width: 50%;
    height: 100%;
    background-color: #2c3e50;
    border: hidden;
}
#spread-type{
    display: flex;
    height: 100px;
}

#parse-sheet {
    /*margin-top: 200px;*/
    background-color: #25313e;
    color: #FFFFFF;
    padding: 0 10px;
}

.item-selected{
    background: #25313e !important;
}