body {
    background-color: #18BC9C;
    padding-top: 108px;
}
#start-btn{
    margin-top: 200px !important;
    height: 100px;
    width: 200px;
}
#main .btn{
    margin: 5px auto;
    display: block;
}
#list-style{
    display: none;
}
#pick-inner p{
    height: 80px;
}
.list{
    list-style-type: none;
}
.circle-list{
    list-style-type: circle;
}
.square-list{
    list-style-type: square;
}
#sheet-effect::before{
    content: "";
    top: 0;
    left: 0;
    border-width: 0 0 80px 80px;
    border-style: solid;
    border-color: #dcd5d5 #18BC9C;
    box-shadow: 4px 4px 7px #888888;
}
#sheet-effect {
    display: none;
    margin-top: -183px;
    margin-left: -114px;
}
#content {
    width: 210mm;
    /*padding-left: 0;*/
    /*background: #ffffff;*/
    float: left;
    padding: 30mm 20mm 20mm 30mm;
    white-space: pre-wrap;
}
.clear-both{
    clear: both;
}
#vars-menu select{
    width: 100%;
    float: right;
    margin-bottom: 5px;
}
#vars-menu {
    display: none;
    width: 400px;
    padding: 5px;
    background: #1d4c7b;
    margin-left: 210mm;
    position: absolute;
    right: 0;
    color: #ffffff;
}
#print, #download {
    width: 100%;
    margin-bottom: 10px;
}
#main {
    width: 900px;
    margin: 0 auto;
}
#parse-sheet {
    margin-top: 200px;
}
#pick-inner {
    margin: 0 auto;
    width: 80%;
    display: grid;
}
#pick-option {
    background-color: rgba(221, 221, 221, 0.72);
    /* margin: 0 auto; */
    z-index: 999 !important;
    /* display: table-cell; */
    padding: 15px;
    /* margin-top: auto; */
    /* margin-bottom: auto; */
    position: absolute;
    top: 20%;
    left: 50%;
    width: 400px;
    text-align: center;
    border: 2px solid #847777;
    display: none;
}
#sheet-input {
    width: 100%;
}
.align-center {
    text-align: center;
}
.vue-var {
    float: right;
    width: 100%;
}
.btn-pick{
    float: left;
    margin: 10px !important;
}
#decisions{
    margin-top: -95px;
}
#main-message{
    text-align: center;
}
.margin-top, .margin-right, .margin-bottom, .margin-left{
    float: right;
    width: 80px;
}
.vars{
    border-bottom: 1px solid #9e9898;
    height: 70px;
}
.menu-title{
    text-align: center;
    font-size: 17px;
    font-weight: bold;
    text-transform: uppercase;
}
@media print
{
    .no-print, .no-print *
    {
        display: none !important;
    }
}

#main-menu{
    width: 100%;
    position: fixed;
    height: 108px;
    background: #2C3E50;
    margin-top: -108px;
}